<div class="jumbotron jumbotron-fluid" style="background-image: url(https://images.pexels.com/photos/414630/pexels-photo-414630.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); background-size: 100%;">
  <div class="container">
    <h1 class="display-4" style="color:smoke; font-weight: bold; text-shadow: 1px 1px rgb(183, 183, 183)">Computers & Coffee - The Dashboard</h1>
    <h4 class="lead" style="color:whitesmoke; text-shadow: 1px 1px rgb(183, 183, 183)">Now with Admin Powers!</h4>
  </div>
</div>

<div class="posts">
  <h2>
  <a class="card card-header flex-row justify-space-between" href="/dashboard/new"><i class="far fa-plus-square"></i>  New Post</a>
  </h2>
  <br />
  {{#each posts}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/dashboard/edit/{{id}}"><i class="fas fa-edit"></i> {{title}}</a>
      </h2>
      <div>
         {{format_date createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
        <br/>

  {{/each}}
</div>