<div class="container-fluid">
<div class="card text-center">
  <div class="card-header">
    <div>
      <h1><i class="fa fa-lock" aria-hidden="true"></i> Sign Up</h1>

    </div>

  </div>
  <form id="signup-form" class="card-body">
      <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
      </div>
      <input
        type="text"
        id="username-input-signup"
        name=""
        class="form-control"
        placeholder="username"
      />
    </div><br />

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
      </div>
      <input
        type="text"
        id="email-input-signup"
        name=""
        class="form-control"
        placeholder="email"
      />
    </div><br />

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-key icon"></i></span>
      </div>
      <input
        type="Password"
        id="password-input-signup"
        name=""
        class="form-control"
        placeholder="password"
      />
    </div><br />
    <div class="text-center">
    <button type="submit" class="btn btn-success" id="signup-btn" style="width:200px"><span
        class="glyphicon glyphicon-off" 
      ></span>
      Sign Up</button>
      </div>
        <br></br>
    <center><div
        style="border:1px solid black;height:1px;width:300px;"
      ></div></center><br />
    <div class="text-center">
      <p>Already have an Account? <a href="/login">Log In Here</a></p>
    </div>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>